In [9]:
!python --version

Python 3.9.5

In [2]:
!pip install helpsk --upgrade

Requirement already satisfied: helpsk in /Users/shanekercheval/opt/anaconda3/envs/python-examples/lib/python3.9/site-packages (0.0.6)

In [3]:
import pandas as pd
from helpsk import string

In [6]:
string.collapse('a', 'b', 'c')

'abc'

In [8]:
string.collapse('a', 'b', 'c', surround="'", separate=",")

"'a','b','c'"

In [3]:
from helpsk import validation as vld
vld.assert_true(True)
vld.assert_false(False)

In [4]:
from helpsk import ExampleClass
example = ExampleClass()
example.my_variable

getter of my_variable called

0

# `is` vs `==`

`==` is an equality test. It checks whether the right hand side and the left hand side are equal objects (according to their __eq__ or __cmp__ methods.)

is is an identity test. It checks whether the right hand side and the left hand side are the very same object. No methodcalls are done, objects can't influence the is operation.

You use `is` (and `is not`) for `singletons`, like `None`, where you don't care about objects that might want to pretend to be None or where you want to protect against objects breaking when being compared against None.

# List & DataFrame Equality

In [4]:
[1, 2, 3] == [1, 2, 3]

True

In [5]:
[1, 2, 3] == [1, 2, 3.00001]

False

In [6]:
['a', 'b', 'c'] == ['a', 'b', 'c']

True

In [7]:
['a', 'b', None] == ['a', 'b', None]

True

In [8]:
['a', 'b', 'c'] == ['a', 'b', None]

False

In [10]:
pd.DataFrame([[1, 2], [2, 3]]).equals(pd.DataFrame([[1, 2], [2, 3]]))

True

In [12]:
pd.DataFrame([[1, 2], [2, 3]]).equals(pd.DataFrame([[1, 2], [2, 3.001]]))

False

In [13]:
pd.DataFrame([[1, None], [2, 3.001]]).equals(pd.DataFrame([[1, None], [2, 3.001]]))

True

# Checking for Empty Containers

In [9]:
a = []

len(a) == 0  # not Pythonic

True

In [10]:
not a  # Pythonic

True

In [11]:
if len(a) == 0:
    print('Not Pythonic')

if not a:
    print('Pythonic')

Not Pythonic
Pythonic

In [12]:
a = ['a']

if len(a) != 0:
    print('Not Pythonic')

if a:
    print('Pythonic')

Not Pythonic
Pythonic

# Multi-lines

In [13]:
# not Pythonic
a = 1 + \
    2
print(a)

a = (1 +  # Pythonic
     2)
print(a)

3
3

# Classes

## Private vs Protected

In [32]:
class Example:
    def __init__(self):
        self.__private_variable = 'private'
        self._protected_variable = 'protected'
    
    def instance_method(self):
        return 'instance method ' + self.__private_variable + self._protected_variable
    
    @staticmethod
    def static_method(x):
        return 'static method ' + x
    
    @classmethod
    def class_method(cls, x):
        return 'class method ' + x

In [33]:
ex = Example()
ex._protected_variable

'protected'

In [34]:
try:
  print(ex.__private_variable)
except Exception as e:
  print(e)

'Example' object has no attribute '__private_variable'

In [35]:
ex._Example__private_variable

'private'

In [36]:
ex.instance_method()

'instance method privateprotected'

In [37]:
ex.static_method('a')  # not sure how this is useful

'static method a'

In [38]:
Example.class_method('a')  # no instance

'class method a'

## Getters / Setters

In [4]:
class ExampleClass:

    def __init__(self, my_variable=0):
        self._my_variable = my_variable

    @property
    def my_variable(self):
        """I'm the 'my_variable' property."""
        print("getter of my_variable called")
        return self._my_variable

    @my_variable.setter
    def my_variable(self, value):
        print("setter of my_variable called")
        self._my_variable = value

In [5]:
example = ExampleClass()
example.my_variable == 0

getter of my_variable called

True

In [6]:
example.my_variable = 0

setter of my_variable called

# Default Arguments

Pythonâ€™s default arguments are evaluated once when the function is defined, not each time the function is called (like it is in say, Ruby). This means that if you use a mutable default argument and mutate it, you will and have mutated that object for all future calls to the function as well.
	* http://docs.python-guide.org/en/latest/writing/gotchas/
	* This means you cannot assign objects as default arguments

# Misc

# Pandas

In [39]:
import numpy as np
import pandas as pd

dates = pd.date_range("20210809", periods=6)
df = pd.DataFrame(np.random.randn(6, 4),
                  index=dates,
                  columns=list("ABCD"))

In [40]:
dates

DatetimeIndex(['2021-08-09', '2021-08-10', '2021-08-11', '2021-08-12',
               '2021-08-13', '2021-08-14'],
              dtype='datetime64[ns]', freq='D')

In [41]:
df

                   A         B         C         D
2021-08-09  1.198246 -1.235949  1.700903 -0.703204
2021-08-10 -0.770801 -2.246163 -0.704069 -0.404502
2021-08-11  0.156754  0.134751  0.784774 -1.303366
2021-08-12 -0.681794 -1.775054 -0.827330 -0.889299
2021-08-13 -0.915179 -0.101332 -0.989668 -0.720627
2021-08-14 -0.094211 -0.104161 -0.542639 -1.024226

## Selection

In [45]:
df.A

2021-08-09    1.198246
2021-08-10   -0.770801
2021-08-11    0.156754
2021-08-12   -0.681794
2021-08-13   -0.915179
2021-08-14   -0.094211
Freq: D, Name: A, dtype: float64

In [52]:
df['A']  # all rows of single column

2021-08-09    1.198246
2021-08-10   -0.770801
2021-08-11    0.156754
2021-08-12   -0.681794
2021-08-13   -0.915179
2021-08-14   -0.094211
Freq: D, Name: A, dtype: float64

In [56]:
df[0:1]  # slices rows; excludes last index

                   A         B         C         D
2021-08-09  1.198246 -1.235949  1.700903 -0.703204

In [59]:
df[['A']]

                   A
2021-08-09  1.198246
2021-08-10 -0.770801
2021-08-11  0.156754
2021-08-12 -0.681794
2021-08-13 -0.915179
2021-08-14 -0.094211

If passing a single value to `.loc`, a Series is returned; if passing a list to `.loc` a DataFrame is returned

In [84]:
df.loc[pd.to_datetime('2021-08-09')]

A    1.198246
B   -1.235949
C    1.700903
D   -0.703204
Name: 2021-08-09 00:00:00, dtype: float64

In [85]:
df.loc[[pd.to_datetime('2021-08-09')]]

                   A         B         C         D
2021-08-09  1.198246 -1.235949  1.700903 -0.703204

In [86]:
df.loc[[pd.to_datetime('2021-08-09'), pd.to_datetime('2021-08-10')]]

                   A         B         C         D
2021-08-09  1.198246 -1.235949  1.700903 -0.703204
2021-08-10 -0.770801 -2.246163 -0.704069 -0.404502

### `at` vs `loc`

- `df.at` is faster
- `df.at` can only access a single value at a time.
- `df.loc` can select multiple rows and/or columns.


https://stackoverflow.com/questions/37216485/pandas-at-versus-loc

In [116]:
import pandas as pd
data = pd.DataFrame({
    'col1':['a','a','a','a','a','b','b','b','b','b'],
    'col2':[1,2,3,4,5,6,7,8,9,0],
    'col3':[-1,-2,-3,-4,-5,-6,-7,-8,-9,0]
})

In [117]:
data.groupby('col1').agg({'col2': 'max', 'col3': 'min'})

      col2  col3
col1
a        5    -5
b        9    -9


https://stackoverflow.com/questions/10951341/pandas-dataframe-aggregate-function-using-multiple-columns

In [118]:
data

  col1  col2  col3
0    a     1    -1
1    a     2    -2
2    a     3    -3
3    a     4    -4
4    a     5    -5
5    b     6    -6
6    b     7    -7
7    b     8    -8
8    b     9    -9
9    b     0     0

```
data %>%
    group_by(col1) %>%
    summarise(result_a = sum(col2 * col3),
              result_b = sum(col2) * sum(col3))
```

In [119]:
grouped = data.groupby('col1')

In [120]:
grouped = data.groupby('col1')

def my_function(group):
    col2 = group['col2']
    col3 = group['col3']
    return (col2 * col3).sum()

result = grouped.apply(my_function)
result

col1
a    -55
b   -230
dtype: int64

In [115]:
result

array([ -55, -230])

In [123]:
result['b']

-230

In [ ]:
grouped = data.groupby('col1')

def my_function(group):
    
    return pd.DataFrame({'original': group,
                         'demeaned': group - group.mean()})
    
    col2 = group['col2']
    col3 = group['col3']
    return (col2 * col3).sum()

result = grouped.apply(my_function)
result

```
data %>%
    group_by(col1) %>%
    summarise(result_a = sum(col2 * col3),
              result_b = sum(col2) * sum(col3))
```

https://stackoverflow.com/questions/14529838/apply-multiple-functions-to-multiple-groupby-columns

In [132]:
data

  col1  col2  col3
0    a     1    -1
1    a     2    -2
2    a     3    -3
3    a     4    -4
4    a     5    -5
5    b     6    -6
6    b     7    -7
7    b     8    -8
8    b     9    -9
9    b     0     0

In [140]:
def f(x):
    d = {}
    d['result_a'] = (x['col2'] * x['col3']).sum()
    d['result_b'] = x['col2'].sum() * x['col3'].sum()
    d['result_c'] = x['col2'] + x['col3']
    d['result_d'] = (x['col2'] + x['col3']).sum()
    d['count'] = x.shape[0]
    d['col2_max'] = x['col2'].max()
    d['col3_max'] = x['col3'].max()
    return pd.Series(d)

data.groupby('col1').apply(f)

,result_a,result_b,result_c,result_d,count,col2_max,col3_max
col1,,,,,,,
a,-55,-225,5 0 6 0 7 0 8 0 9 0 dtype: int64,0,5,5,-1
b,-230,-900,5 0 6 0 7 0 8 0 9 0 dtype: int64,0,5,9,0

https://gist.github.com/conormm/fd8b1980c28dd21cfaf6975c86c74d07


```
df %>% group_by(group) %>% mutate(mean_var1 = mean(var1))  # R
df.groupby('group').assign(mean_var1 = lambda x: np.mean(x.var1)  # Python
```

# Unexpected Behavior